@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Party!</title>
        <meta name="viewport" content="width = device-width"/>
    </head>
    <body>
        <div>
            <div>
                We are going to have an exciting Party!
                (To do: Sell it better. Add picture or something)
                <a asp-action="RsvpForm">RSVP here</a>
            </div>
        </div>
    </body>
</html>