@using PartyInvites.Models;
@model IEnumerable<GuestResponse>
@{
     Layout = null;
 }
<!DOCTYPE html>
<html>
    <head>
        <title>Responses</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <h2>Here is the list of people attending party</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach(GuestResponse guestResponse in Model)
                {
                    <tr>
                        <td>@guestResponse.Name</td>
                        <td>@guestResponse.Email</td>
                        <td>@guestResponse.PhoneNumber</td>
                    </tr>
                }
        </tbody>
        </table>
    </body>
</html>